 .list {
     /* border: 1px solid red; */
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 30px;
     margin-bottom: 40px;
     border-left: 4px solid rgb(13, 67, 167);

 }

 .list_item {
     padding-left: 25px;

     /* border: 1px solid green; */
 }

 .terapia_img {
     width: 200px;
     /* padding: 25px; */
 }

 @media only screen and (max-width: 768px) {
     .terapia_img {}
 }

 @media (hover:hover) {}