.image_background {
    background-color: rgb(236, 158, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(../../public/assets/img/header1.jpg); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    overflow: hidden;
}

.list {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-left: 4px solid rgb(13, 67, 167);

}

.list_item {
    padding-left: 25px;

    /* border: 1px solid green; */
}

.terapia_img {
    width: 200px;
    /* padding: 25px; */
}


@media (hover:hover) {}